/* MR: Font declaration: Switzera Regular */
@font-face {
  font-family: "Switzera";
  src: url("../fonts/switzera-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* START themes/gallery/assets/css/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../jslibs/photoswipe/dist/photoswipe.css";
@import "../jslibs/photoswipe-dynamic-caption-plugin/photoswipe-dynamic-caption-plugin.css";
@import "../jslibs/flickr-justified-gallery/dist/fjGallery.css";

html.dark {
  color-scheme: dark;
}

[x-cloak] {
  display: none !important;
}

.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 300ms;
}
img.lazyload:not([src]) {
  visibility: hidden;
}
/* END themes/gallery/assets/css/styles.css */

/* MR: Use thinner font for a more elegant look */
.font-semibold {
  font-weight: normal;
}
