  <div class="mx-auto mb-16 mt-9 max-w-screen-lg px-6 text-center">
    <h1 class="text-3xl font-semibold tracking-tight md:text-4xl">
      {{ partial "title.html" . }}
    </h1>
    {{ if .Params.Description }}
      <p class="mt-6 text-neutral-500 dark:text-neutral-400 md:text-lg">{{ .Params.Description }}</p>
    {{ end }}
  </div>
  {{ if .Content }}
  <article class="mx-auto mb-16 mt-9 max-w-screen-lg px-6 prose text-neutral-500 dark:text-neutral-400">
  {{ .Content }}
  </article>
  {{ end }}
