<footer class="mx-auto mb-10 mt-4 flex max-w-screen-3xl flex-none flex-wrap justify-center px-6 text-center text-sm text-neutral-600 dark:text-neutral-400">
  <span class="m-2">{{ partial "copyright.html" . }}</span>

  {{ if .Site.Menus.footer }}
    <ul class="my-2 flex flex-wrap justify-center">
      {{ range .Site.Menus.footer }}
        <li>
          <a href="{{ .URL }}" class="mx-2">
            {{ .Name }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
</footer>
